<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Huququlator</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/about.css">
    <link rel="icon" href="images/huququlator_favicon.png" type="image/png">
</head>
<body class="main-page-body">
    <!-- Navigation Bar -->
    <nav class="navbar">
        <% if (loggedIn) { %>
            <!-- Logged-in view -->
            <span>Welcome, <%= username %></span>
            <div class="navbar-right">
                <a href="/">Calculator</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/upload">Upload Transactions</a>
                <a href="/filter-rules">Categorization rules</a>
                <a href="/transactions">View Transactions</a>
                <a href="/logout">Log out</a>
            </div>
        <% } else { %>
            <!-- Logged-out view -->
            <div class="navbar-left">
                <a href="/">Calculator</a>
                <a href="/help">Help</a>
            </div>
            <div class="navbar-right">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        <% } %>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <h1>About</h1>
        <p>Huququlator.com is a tool created by Sarah Haslip, its purpose is to help you calculate Ḥuqúqu’lláh. The public calculator can be used for one-time 
        calculations, information you enter there is not saved. 
        Creating an account provides access to a more advanced calculator that allows you to list assets, debts, expenses, and wealth on which you’ve already paid 
        Ḥuqúqu’lláh, and then shows you the amount currently due. It also gives you the option to enter payments made, which will be saved and carried forward from 
        year to year. Additionally, you can upload and categorize financial transactions and create categorization rules for automatic sorting of transactions. Any data
        you enter after creating an account will be saved until you delete it. Note, all data you enter is permanently deleted from the server as soon as you perform that 
        operation.  

        <p>Both the private and public calculators allow you to select past dates and view historical gold rates, which can be used to check past calculations.</p>

        <div class="about-section">
            <!-- Section 1 -->
            <div class="about-item" id="about1">
                <h2 onclick="toggleAbout('about1')">Financial dashboard</h2>
                <div class="about-content expanded">
                    <p>A financial dashboard can be used to keep track of assets, debts, expenses, payments owed, payments made and outstanding balances.</p>
                    <img src="/images/dashboard.png" alt="Picture of the dashboard" style="max-width:100%;">
                </div>
                <button class="view-more" onclick="toggleAbout('about1')">Collapse</button>
            </div>

            <!-- Section 2 -->
            <div class="about-item" id="about2">
                <h2 onclick="toggleAbout('about2')">Uploading financial transactions</h2>
                <div class="about-content">
                    <p>You can upload financial transactions and automatically categorize them as necessary (exempt from Huquq) or unnecessary (non-exempt).</p>
                    <img src="/images/upload-transactions.png" alt="Picture of the dashboard" style="max-width:100%;">
                </div>
                <button class="view-more" onclick="toggleAbout('about2')">Expand</button>
            </div>

            <!-- Section 3 -->
            <div class="about-item" id="about3">
                <h2 onclick="toggleAbout('about3')">Categorizing transactions</h2>
                <div class="about-content">
                    <p>Financial transactions can be categorized as 'necessary', 'unnecessary' or 'hidden'. By default all debts will display in 'necessary' and all credits in 'hidden'.
                    If you need to count a certain expense towards Ḥuqúqu’lláh, move it to the 'unnecessary'. A running total will be shown in the upper right.</p>
                    <img src="/images/transactions.png" alt="Picture of the dashboard" style="max-width:100%;">
                    <p>Use the filter bar to automatically categorize all transactions matching certain parameters. You can press "Apply & create rule" to apply that filter to all future 
                    uploads of financial transactions.</p>
                </div>
                <button class="view-more" onclick="toggleAbout('about3')">Expand</button>
            </div>

            <!-- Section 4 -->
            <div class="about-item" id="about4">
                <h2 onclick="toggleAbout('about4')">Rules for automatic transaction categorization</h2>
                <div class="about-content">
                    <p>If you press "Apply & create rule" while categorizing financial transactions they will be saved and shown in the 'Categorization rules' page. These rules can
                    be automatically applied to future financial transaction uploads.</p>
                    <img src="/images/filter-rules.png" alt="Picture of the dashboard" style="max-width:100%;">
                </div>
                <button class="view-more" onclick="toggleAbout('about4')">Expand</button>
            </div>
        </div>
    </div>

    <script src="/about.js"></script>
</body>
</html>
