<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Huququlator</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/about.css">
</head>
<body class="main-page-body">
    <!-- Navigation Bar -->
    <nav class="navbar">
        <% if (loggedIn) { %>
            <!-- Logged-in view -->
            <span>Welcome, <%= username %></span>
            <div class="navbar-right">
                <a href="/">Calculator</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/upload">Upload Transactions</a>
                <a href="/filter-rules">Categorization rules</a>
                <a href="/transactions">View Transactions</a>
                <a href="/logout">Log out</a>
            </div>
        <% } else { %>
            <!-- Logged-out view -->
            <div class="navbar-left">
                <a href="/">Calculator</a>
                <a href="/help">Help</a>
            </div>
            <div class="navbar-right">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        <% } %>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <h1>About Huququlator</h1>
        <p>Huququlator is a tool designed to simplify the process of calculating Ḥuqúqu’lláh. This calculator was created by David Haslip.</p>

        <div class="about-section">
            <!-- Section 1 -->
            <div class="about-item" id="about1">
                <h2 onclick="toggleAbout('about1')">About the Bahá’í Faith</h2>
                <div class="about-content expanded">
                    <p> The Bahá’í Faith is an independent world religion founded in the mid 1800's by Bahá’u’lláh that offers teachings meant to unify mankind and renew the spiritual character of the individual and society.</p>
                </div>
                <button class="view-more" onclick="toggleAbout('about1')">Collapse</button>
            </div>
        </div>
    </div>

    <script src="/about.js"></script>
</body>
</html>
