<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="main-page-body">
  <!-- Navigation Bar -->
    <nav class="navbar">
        <% if (loggedIn) { %>
            <!-- Logged-in view -->
            <span>Welcome, <%= username %></span>
            <div class="navbar-right">
                <a href="/help">Help</a> 
                <a href="/dashboard">Dashboard</a>
                <a href="/upload">Upload Transactions</a>
                <a href="/filter-rules">Categorization rules</a>
                <a href="/transactions">View Transactions</a>
                <a href="/logout">Log out</a>
            </div>
        <% } else { %>
            <!-- Logged-out view -->
            <div class="navbar-left">
                <a href="/">Calculator</a>
                <a href="/about">About</a>
            </div>
            <div class="navbar-right">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        <% } %>
    </nav>

  <!-- Main Content -->
<div class="form-content">
    <h1>Register</h1>
    <% if (typeof errorMessage !== 'undefined') { %>
        <p style="color: red;"><%= errorMessage %></p>
    <% } %>
    <form action="/register" method="POST" onsubmit="return validateForm();" class="form-container">
        <div class="form-row">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-row">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-row">
            <label for="confirmPassword">Re-enter Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a>.</p>
</div>
</body>
</html>
