.dashboard-page-wrapper {
    padding: 0px 10px 15px 0px;
    margin-left: 250px;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}
.dashboard-table-wrapper {
    overflow-x: auto;
    position: relative;
}
.dashboard-table,
.summary-table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: auto; /* Allow the table width to grow based on content */
}
.dashboard-table th,
.dashboard-table td,
.summary-table th,
.summary-table td {
    white-space: nowrap;
    text-align: left;
    padding: 8px 10px;
    border: 1px solid #ddd;
}
.dashboard-table td:first-child,
.dashboard-table th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    width: 152px; 
}
.summary-table td:first-child,
.summary-table th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}
.dashboard-table th,
.summary-table th {
    background-color: #f8f9fa;
    color: #222;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 2;
}
.dashboard-title {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.section-row {
    font-weight: bold;
    background-color: #E9ECEF;
}
.section-title {
    background-color: #f0f0f0;
}
.add-item-button {
    font-size: 0.85rem;
    background-color: #ffffff;
    border: 1px solid #bbb;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.add-item-button:hover {
    background-color: #F1F3F5;
    border-color: #aaa;
}

.add-year-button-wrapper {
    display: flex;
    align-items: center;
}

.add-year-button {
    background-color: #f8f9fa;
    color: #444;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

.add-year-button:hover {
    background-color: #e9ecef;
}
.delete-year-button {
    float:right;
}
.save-item-button  {
    float:right;
}
.summary-table input,
.dashboard-table input {
    width: 80px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.85rem;
    color: #333;
}

.debt-value {
    color: red;
    font-style: italic;
}

.debt-input-wrapper, .debt-input-wrapper input {
    color: red;
}
