/* General Styles */
.table-container {
    display: flex;
    flex-direction: column;
    width: auto; /* Container width adapts to content */
    margin-bottom: 20px;
}
.dashboard-page-wrapper {
    padding: 20px;
    margin-left: 250px; 
}

.dashboard-title {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
}

/* Dashboard Layout */
.dashboard-layout-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Table Styles */
.dashboard-table,
.summary-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.dashboard-table th,
.summary-table th {
    background-color: #4A4A4A;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #333;
}

.dashboard-table td,
.summary-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dashboard-table tr:last-child td,
.summary-table tr:last-child td {
    border-bottom: none; 
}

/* Section Rows */
.section-row {
    background-color: #f2f2f2;
    font-weight: bold;
}

.section-title {
    padding: 10px;
    text-align: left;
    font-size: 1.2rem;
    background-color: #e9ecef;
    color: #333;
}

/* Add Item Buttons */
.add-item-button {
    float: right;
    font-size: 0.8rem;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.add-item-button:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
}

/* Add Year Button */
.add-year-button-wrapper {
    margin-top: 20px;
}

.add-year-button {
    background-color: #4A4A4A;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.add-year-button:hover {
    background-color: #333; 
}

/* Summary Section */
.summary-section-wrapper {
    margin-top: 30px;
    border-radius: 8px;
    padding: 15px;
}

/* Summary Table Styles */
.summary-table input {
    width: 100px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.debt-value {
    color: red;
}

.debt-input-wrapper, .debt-input-wrapper input {
    color: red;
}
