/* Main page styling */
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #f9f9f9;
    text-align: center;
}
.main-page h1 {
    color: #0073e6;
    margin-bottom: 20px;
}
.main-page p {
    margin-bottom: 20px;
    font-size: 16px;
}
.main-page form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
}
.main-page .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.main-page label {
    flex: 2;
    font-weight: bold;
    text-align: right;
}
.main-page input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 120px;
    max-width: 100%; 
}
.main-page .response {
    flex: 1;
    color: #ff6f61;
    font-size: 14px;
    text-align: left;
}
.main-page .final-response {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}
.help-text {
    display: none; /* Default state is hidden */
    color: #0073e6;
    font-size: 12px;
    margin-top: 5px;
    text-align: left; /* Align text to the left */
}
.help-text.show {
    display: block; /* Make it visible when `.show` is added */
}
/* Remove up/down arrows for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}
/* Sidebar styling */
.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}
.sidebar h3 {
    font-size: 1.2em;
    margin-top: 0;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
}
.sidebar ul li a:hover {
    text-decoration: underline;
}
/* Main content area styling */
.content {
    margin-left: 220px; 
    padding: 0px 20px 20px 20px;
}
/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
/* Tabs Navigation */
.tab {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f9f9f9;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.tab:hover {
    background-color: #e9e9e9;
}
.tab.active {
    background-color: #fff;
    font-weight: bold;
    border-top: 2px solid #0073e6;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: none;
    color: #0073e6;
}
.tab-container {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-top: -1px;
}
/* Styling for the Upload Section */
.upload-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.upload-section h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
    text-align: center;
}
/* Flex container for form elements */
.upload-section .form-row {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the form elements horizontally */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    gap: 10px; /* Spacing between elements */
}
.upload-section label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    color: #333;
}
.upload-section input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.upload-section button {
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.upload-section button:hover {
    background-color: #005bb5;
}
/* Filter rules on upload Section */
.rules-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.rules-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}
.rules-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.rules-section table th,
.rules-section table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
.rules-section table th {
    background-color: #f0f0f0;
    font-weight: bold;
}
.rules-section input[type="checkbox"] {
    transform: scale(1.2);
}
/* Filter Section Styling */
.filter-section {
    position: sticky;
    top: 0;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.filter-section h2 {
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}
.filter-section label {
    font-weight: bold;
    color: #333;
}
.filter-section select,
.filter-section input[type="text"],
.filter-section button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
}
.filter-section button {
    background-color: #0073e6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.filter-section button:hover {
    background-color: #005bb5;
}
/* Info Box Styling */
.info-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 70px;
    right: 27px;
    width: 200px;
}
.info-box p {
    margin: 8px 0;
    font-size: 14px;
    color: #333;
}
.info-box strong {
    color: #0073e6;
}
/* Sticky Table Header Row */
.sticky-header tr {
    position: sticky;
    top: 61px;
}
/* Style for the Date Filter Section */
.date-filter-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 66px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.date-filter-section label {
    font-weight: bold;
    color: #333;
}
.date-filter-section input[type="date"] {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}
.date-filter-section button {
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.date-filter-section button:hover {
    background-color: #0073e6;
    color: #fff;
}
.date-filter-section button:last-child:hover {
    background-color: #d32f2f;
}
